{% set leftButton = '' %}
{% set rightButton = '' %}

{% set redesignClass = 'rd25' %}
{% set title = 'Generator' %}
{% set shortTitle = 'Generator Uprzejmych Pism' %}
{% set description = 'Wkurza Cię pato parkowanie? Przekaż swoją frustrację i napisz mail do decydentów korzystając z naszego generatora.' %}
{% set mainClass = 'generator' %}

{% extends "base.html.twig" %}
{% block footer %}
{% endblock %}
{% block main %}

<header>
  <a data-action="prev">&lt; Wróć</a>
  <span></span>
</header>

<section id="step-0" class="active">
  <h1>Uprzejmy generator pism</h1>
  {% if isPatron %}
  <h4>Narzędzie jest w fazie testowej</h4>
  <p>Nie wysyłaj jeszcze wygenerowanych pism. Będę zobowiązany za feedback na adres <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a>.
  Pamiętaj, że generowanie każdego wniosku kosztuje (od kilku do kilkudziesięciu groszy, w zależności od ustawień, które tuninguję).
  Staraj się nie przekroczyć 10 prób.</p>
  {% else %}
  <h4>Narzędzie jest w fazie testowej dostępnej tylko dla Patronów i Patronek</h4>
  <p>Po fazie zamkniętych testów zostanie udostępnione wszystkim użytkownikom Uprzejmie Donoszę.</p>
  {% endif %}
  <nav>
      <a href='#' class="button {% if not isPatron %}disabled{% endif %}" data-action="next">Dalej</a>
  </nav>
</section>

<section id="step-1">
  <h1>Co Cię najbardziej wkurza w pato parkowaniu?</h1>
  <div id="topicError">Wybierz do 3 opcji.</div>
  <fieldset id="fs-topics">
  </fieldset>
  <nav>
      <a href='#' class="button disabled" data-action="next">Dalej</a>
  </nav>
</section>

<section id="step-2">
  <h1>Wybierz charakter pisma</h1>
  <p>Jakiego tonu chcesz użyć w swojej wiadomości?</p>
  <fieldset id='fs-types'>
  </fieldset>
  <nav>
      <a href='#' class="button" data-action="next">Dalej</a>
  </nav>
</section>
<section id="step-3">
  <h1>Wybierz adresata</h1>
  <fieldset id='fs-targets'>
  </fieldset>
  <nav>
      <a href='#' class="button disabled" type="button" data-action="next">Dalej</a>
  </nav>
</section>

<section id="step-4">
  <h1>wybierz adresata</h1>
  <fieldset id='fs-recipients'>
  </fieldset>
  <nav>
      {% if isPatron %}
      <a href='#' data-action="generate" class="button cta">Generuj pismo</a>
      {% else %}
      <a href='#' class="button cta disabled">Generuj pismo</a>
      {% endif %}
  </nav>
</section>

<section id="step-5">
  <h1>Generowanie pisma</h1>
  <div class="status" id="status">Gotowy do generowania</div>
  <div id="output"></div>
  <nav>
      <a class="button cta" id='mailtoButton' href="#" style="display: none;">Wyślij przez domyślny klient e-mail</a>
      <a class="button cta" id='gmailButton' href="#" target="_blank" style="display: none;"><img src="/img/gmail.png" alt='' />Wyślij przez GMail</a>
      <br />
      <a class="button" id='generateButton' href="#" data-action="restart">Generuj kolejne pismo</a>
  </nav>
</section>

{% endblock %}
