{% set leftButton = '' %}
{% set rightButton = '' %}

{% set redesignClass = 'rd25' %}
{% set title = 'Kreator skarg i wniosków' %}
{% set shortTitle = 'Kreator skarg i wniosków' %}
{% set description = 'Wkurza Cię pato parkowanie? Przekaż swoją frustrację i napisz mail do decydentów korzystając z naszego narzędzia.' %}
{% set mainClass = 'generator' %}

{% extends "base.html.twig" %}
{% block footer %}
<footer></footer>
{% endblock %}
{% block main %}

<header>
  <a data-action="prev">&lt; Wróć</a>
  <span></span>
</header>

<section id="step-1" class="active">
  <h1>Co Cię wkurza w pato parkowaniu?</h1>
  <fieldset id="fs-topics">
  </fieldset>
  <nav>
      <a href='#' class="button disabled" data-action="next">Wybierz do 3 opcji</a>
  </nav>
</section>

<section id="step-2">
  <h1>W jakim tonie chcesz napisać?</h1>
  <fieldset id='fs-types'>
  </fieldset>
  <nav>
      <a href='#' class="button disabled" data-action="next">Dalej</a>
  </nav>
</section>
<section id="step-3">
  <h1>Do kogo chcesz napisać?</h1>
  <fieldset id='fs-targets'>
  </fieldset>
  <nav>
      <a href='#' class="button disabled" type="button" data-action="next">Dalej</a>
  </nav>
</section>

<section id="step-4">
  <h1>Wybierz adresata</h1>
  <fieldset id='fs-recipients'>
  </fieldset>
  <nav>
      <a href='#' data-action="generate" class="button cta">Dalej</a>
  </nav>
</section>

<section id="step-5">
  <h1>Tworzenie pisma</h1>
  <div>
    <div class="status" id="status">Gotowy do pisania</div>
    <div class="progress" id="progress"></div>
  </div>
  <div id="output"></div>
  <nav id="step-5__nav">
      <a class="button fit-content inline light" id='mailtoButton' href="#" target="_blank" rel="external">Wyślij e-mail</a>
      <a class="button fit-content inline light" id='gmailtoButton' href="#" target="_blank" rel="external">Wyślij przez Gmaila</a>
      <a class="button fit-content inline light" id="copyBtn" onclick="copyToClipboard('#output')" >Skopiuj tekst</a>

      <a class="button light" id='generateButton' href="#" data-action="restart">Napisz kolejne pismo</a>
  </nav>
</section>

<script src="/js/generator.js?{{ JS_HASH }}"
  data-user-isgmail="{{ isGmail }}"></script>

{% endblock %}
