{% set leftButton = '' %}
{% set rightButton = '' %}

{% set redesignClass = 'rd25' %}
{% set title = 'Kreator skarg i wniosków' %}
{% set shortTitle = 'Kreator skarg i wniosków' %}
{% set description = 'Wkurza Cię pato parkowanie? Przekaż swoją frustrację i napisz mail do decydentów korzystając z naszego narzędzia.' %}
{% set mainClass = 'generator' %}

{% extends "base.html.twig" %}
{% block footer %}
<footer></footer>
{% endblock %}
{% block main %}

<header>
  <a data-action="prev">&lt; Wróć</a>
  <span></span>
</header>

<section id="step-1" class="active">
  <h1>Co Cię wkurza w pato parkowaniu?</h1>
  <fieldset id="fs-topics">
  </fieldset>
  <nav class="sticky">
      <a href='#' class="button disabled" data-action="next">Wybierz do 3 opcji</a>
  </nav>
</section>

<section id="step-2">
  <h1>W jakim tonie chcesz napisać?</h1>
  <fieldset id='fs-types'>
  </fieldset>
  <nav class="sticky">
      <a href='#' class="button disabled" data-action="next">Dalej</a>
  </nav>
</section>
<section id="step-3">
  <h1>Do kogo chcesz napisać?</h1>
  <fieldset id='fs-targets'>
  </fieldset>
  <nav class="sticky">
      <a href='#' class="button disabled" data-action="next">Dalej</a>
  </nav>
</section>

<section id="step-4" class="hidden select-parlamentary">
  <h1>Wybierz posła/posłankę</h1>

  <label class='s4_filter'>
    <input name='s4_filter[]' value='vovoideship_match' type='checkbox' onchange="window.fetchRecipients()" />
    Pokaż tylko z mojego województwa
  </label>

  <fieldset id='fs-recipients'>
  </fieldset>
  <div class="loader"></div>
  <nav class="sticky">
      <a href='#' class="button disabled" data-action="generate">Dalej</a>
  </nav>
</section>

<section id="step-5">
  <h1>Tworzenie pisma</h1>
  <div>
    <div class="status" id="status">Gotowy do pisania</div>
    <div class="progress" id="progress"></div>
  </div>
  <div id="output"></div>
  <div>
    <p>
      <b>Będziesz {{ config.sex.mogla }} przeczytać i ew. poprawić swoje pismo przed wysłaniem.</b>
    </p>
  </div>
  <nav id="step-5__nav">
      <a class="button fit-content inline light" id='mailtoButton' href="#" target="_blank" rel="external">Wyślij e-mail</a>
      <a class="button fit-content inline light" id='gmailtoButton' href="#" target="_blank" rel="external">Wyślij przez Gmaila</a>
      <a class="button fit-content inline light cta" id='openFormButton' href="#" target="_blank" rel="external">Otwórz formularz</a>
      <a class="button fit-content inline light" id="copyBtn" onclick="copyToClipboard('#output')" >Skopiuj pismo</a>
      <a class="button link" id='generateButton' href="#" data-action="restart">Napisz kolejne pismo</a>

      {% if not isPatron %}
      <h4>Podobało Ci się?</h4>

      <p>Możesz wspomóc Agendę Parkingową jednorazową wpłatą niewielkiej kwoty na
      <a href="https://suppi.pl/uprzejmiedonosze"
          rel="external" target="_blank"
          class="suppi">Suppi</a>
      (bez prowizji). Lub <a target="_blank" href="/patronite.html">dołączyć do {{ config.stats.patrons }} Patronek i Patronów</a>.
      </p>
      {% endif %}
  </nav>
</section>

<script src="/js/generator.js?{{ JS_HASH }}"
  data-user-isgmail="{{ isGmail }}"></script>

{% endblock %}
