name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04

    services:
      memcached:
        image: memcached:alpine
        ports:
          - 11211:11211

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: '8.2'

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          experimental: true

      - name: Install dependencies
        run: make install

      - name: Setup config for tests
        run: cp config.dev.php config.php

      - name: Create log directory
        run: sudo mkdir -p /var/log/uprzejmiedonosze.net && sudo chmod 777 /var/log/uprzejmiedonosze.net

      - name: Run PHPUnit tests
        run: make test-phpunit
